<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(assets/img/bg-img/17.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcrumb-content text-center">
          <div class="breadcrumb-post-content">
            <h2 class="post-title">Customer</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Customer</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Area End -->

<section class="section-margin section-margin--small">
  <div class="container">
    <div class="section-intro text-center pb-80px">
      <div class="section-intro__style">
        <img alt="" src="img/home/user.png">
      </div>
      <h2>Update Customer Information</h2>
    </div>
    <form [formGroup]="customerForm" (ngSubmit)="updateCustomer(customerId)">
      <div hidden><input type="number" formControlName="customerId"></div>
      <div class="col-8 mx-auto">
        <div class="mx-auto shadow-lg p-3 mb-5 bg-white rounded-lg">
          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName='customerName' id="name">
              <p style="color: red"
                 *ngIf="customerForm.controls.customerName.hasError('required') && customerForm.controls.customerName.touched">
                Không đc để trống
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="code" class="col-sm-3 col-form-label">Code</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName='customerCode' id="code">
              <p style="color: red"
                 *ngIf="customerForm.controls.customerName.hasError('required') && customerForm.controls.customerName.touched">
                Không đc để trống
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="birthday" class="col-sm-3 col-form-label">Birthday</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" formControlName='dateOfBirth' id="birthday">
              <p style="color: red"
                 *ngIf="customerForm.controls.dateOfBirth.hasError('required') && customerForm.controls.dateOfBirth.touched">
                Không đc để trống
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="idCard" class="col-sm-3 col-form-label">Id card</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName='idCard' id="idCard">
              <p style="color: red"
                 *ngIf="customerForm.controls.idCard.hasError('required') && customerForm.controls.idCard.touched">
                Không đc để trống
              </p>
              <p style="color: red"
                 *ngIf="customerForm.controls.idCard.hasError('pattern') && customerForm.controls.idCard.touched">
                • Số CMND phải đúng định dạng XXXXXXXXX hoặc XXXXXXXXXXXX (X là số 0-9).
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="phone" class="col-sm-3 col-form-label">Phone</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName='phone' id="phone">
              <p style="color: red"
                 *ngIf="customerForm.controls.phone.hasError('required') && customerForm.controls.phone.touched">
                Không đc để trống
              </p>
              <p style="color: red"
                 *ngIf="customerForm.controls.phone.hasError('pattern') && customerForm.controls.phone.touched">
                • Số điện thoại phải đúng định dạng 090xxxxxxx hoặc 091xxxxxxx hoặc (84)+90xxxxxxx hoặc (84)+91xxxxxxx.
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" formControlName='email' id="email">
              <p style="color: red"
                 *ngIf="customerForm.controls.email.hasError('required') && customerForm.controls.email.touched">
                Không đc để trống
              </p>
              <p style="color: red"
                 *ngIf="customerForm.controls.email.hasError('email') && customerForm.controls.email.touched">
                • Địa chỉ email phải đúng format(ex@email.com)
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="address" class="col-sm-3 col-form-label">Address</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName='address' id="address">
              <p style="color: red"
                 *ngIf="customerForm.controls.address.hasError('required') && customerForm.controls.address.touched">
                Không đc để trống
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="gender" class="col-sm-3 col-form-label">Gender</label>
            <div class="col-sm-9">
              <select class="form-control"
                      id="gender" formControlName='gender'
                      name="gender">
                <option value="-1">Other</option>
                <option value="0">Female</option>
                <option value="1">Male</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="customerType" class="col-sm-3 col-form-label">Customer type</label>
            <div class="col-sm-9">
              <select id="customerType"
                      [compareWith]="compareFn"
                      class="form-control" name="type" formControlName="customerType">
                <option *ngFor="let item of customerTypes" [ngValue]="item">{{item.name}}</option>
              </select>
              <p style="color: red"
                 *ngIf="customerForm.controls.customerType.hasError('required') && customerForm.controls.customerType.touched">
                Không đc để trống
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="mx-2">
              <a [routerLink]="['/customer']" class="btn btn-secondary ">Cancel</a>
            </div>
            <div class="mx-2">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</section>
