<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(assets/img/bg-img/17.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcrumb-content text-center">
          <div class="breadcrumb-post-content">
            <h2 class="post-title">Facility Create</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/facility']">Facility</a></li>
                <li class="breadcrumb-item active" aria-current="page">Facility create</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Area End -->


<section class="section-margin section-margin--small">
  <div class="container">
    <div class="section-intro text-center pb-80px">
      <div class="section-intro__style">
        <img alt="" src="img/home/bed-icon.png">
      </div>
      <h2>Create New Facility</h2>
    </div>
    <form [formGroup]="facilityForm" >
    <div class="col-8 mx-auto">
      <div class="mx-auto shadow-lg p-3 mb-5 bg-white rounded-lg">
        <div class="form-group row">
          <label for="facilityTypeId" class="col-sm-3 col-form-label">Service type</label>
          <div class="col-sm-9">
            <select id="facilityTypeId"
                    class="form-control"
                    (change)="showFacility($event.target.value)">
              <option value="null">Select Facility type</option>
              <option value="1">Villa</option>
              <option value="2">House</option>
              <option value="3">Room</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="name">
          </div>
        </div>
        <div class="form-group row">
          <label for="code" class="col-sm-3 col-form-label">Code</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="code">
          </div>
        </div>
        <div class="form-group row">
          <label for="floorSquare" class="col-sm-3 col-form-label">Floor square</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="floorSquare">
          </div>
        </div>
        <div class="form-group row">
          <label for="rentalFee" class="col-sm-3 col-form-label">Rental Fee</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="rentalFee" step="any">
          </div>
        </div>
        <div class="form-group row">
          <label for="maximumPeople" class="col-sm-3 col-form-label">Maximum people</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="maximumPeople">
          </div>
        </div>
        <div class="form-group row">
          <label for="rentType" class="col-sm-3 col-form-label">Service type</label>
          <div class="col-sm-9">
            <select class="form-control"
                    id="rentType"
                    name="rentType">
              <option value="null">Select Rent type</option>
              <option value="1">Hour</option>
              <option value="2">Day</option>
              <option value="3">Month</option>
              <option value="4">Year</option>
            </select>
          </div>
        </div>
        <!--                 House and Villa-->
        <div id="villaAndHouseOnly">
          <div class="form-group row">
            <label for="roomStandard" class="col-sm-3 col-form-label">Room standard</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="roomStandard">
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="description">
            </div>
          </div>
          <div class="form-group row" [hidden]="!numberFloor">
            <label for="numberFloor" class="col-sm-3 col-form-label">Number of floor</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="numberFloor">
            </div>
          </div>
        </div>
        <!--                Villa-->
        <div id="villaOnly" [hidden]="!poolSquare">
          <div class="form-group row">
            <label for="poolSquare" class="col-sm-3 col-form-label">Pool square</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="poolSquare">
            </div>
          </div>
        </div>
        <!--                Room-->
        <div id="roomOnly">
          <div class="form-group row">
            <label for="freeServiceInclude" class="col-sm-3 col-form-label">Free service include</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" id="freeServiceInclude">
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="mx-2">
            <a href="#" class="btn btn-secondary">Cancel</a>
          </div>
          <div class="mx-2">
            <a href="#" class="btn btn-primary">Create</a>
          </div>
        </div>

      </div>
    </div>
    </form>
  </div>

</section>
