<form name="calculator">
  <table>
    <tr>
      <td colspan="4">
        <input type="text" name="number1" [(ngModel)]="number1" >
      </td>
      <td colspan="4">
        <input type="text" name="number2" [(ngModel)]="number2" >
      </td>
    </tr>
    <tr>
      <td><input type="button" name="addition" value="+"  (click)="calculator($event.target.value)"></td>
      <td><input type="button" name="subtraction" value="-"  (click)="calculator($event.target.value)"></td>
      <td><input type="button" name="multiplication"  value="*" (click)="calculator($event.target.value)"></td>
      <td><input type="button"  name="division" value="/" (click)="calculator($event.target.value)"></td>
    </tr>
  </table>
  <p>Result: {{result}}</p>
</form>
