<form name="calculator">
  <table>
    <tr>
      <td colspan="4">
        <input type="text" name="display" value="{{number}}" disabled>
      </td>
    </tr>
    <tr>
      <td><input type="button" name="one" value="1" (click)="calculator('1')"></td>
      <td><input type="button" name="two" value="2" (click)="calculator('2')"></td>
      <td><input type="button" name="three" value="3" (click)="calculator('3')"></td>
      <td><input type="button" class="operator" name="plus" value="+" (click)="calculator('+')"></td>
    </tr>
    <tr>
      <td><input type="button" name="four" value="4" (click)="calculator('4')"></td>
      <td><input type="button" name="five" value="5" (click)="calculator('5')"></td>
      <td><input type="button" name="six" value="6" (click)="calculator('6')"></td>
      <td><input type="button" class="operator" name="minus" value="-" (click)="calculator('-')"></td>
    </tr>
    <tr>
      <td><input type="button" name="seven" value="7" (click)="calculator('7')"></td>
      <td><input type="button" name="eight" value="8" (click)="calculator('8')"></td>
      <td><input type="button" name="nine" value="9" (click)="calculator('9')"></td>
      <td><input type="button" class="operator" name="times" value="x" (click)="calculator('*')"></td>
    </tr>
    <tr>
      <td><input type="button" class="operator" id="clear" name="clear" value="C" (click)="remove()"></td>
      <td><input type="button" class="operator" name="zero" value="0" (click)="calculator('0')"></td>
      <td><input type="button" class="operator" name="doit" value="=" (click)="result()"></td>
      <td><input type="button" class="operator" name="div" value="/" (click)="calculator('/')"></td>
    </tr>
  </table>
</form>
