<section class="welcome-area">
  <div class="welcome-slides carousel slide">
    <!-- Single Welcome Slide -->
    <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(assets/img/bg-img/18.jpg);" data-img-url="img/bg-img/18.jpg">
      <!-- Welcome Content -->
      <div class="welcome-content h-100">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <!-- Welcome Text -->
            <div class="col-12">
              <div class="welcome-text text-center">
                <h6 data-animation="fadeInDown" data-delay="200ms">Hotel &amp; Resort</h6>
                <h2 data-animation="fadeInDown" data-delay="500ms">Welcome To Furama</h2>
                <a href="#" class="btn roberto-btn btn-2" data-animation="fadeInDown" data-delay="800ms">Discover Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Welcome Area End -->

<!-- About Us Area Start -->
<section class="roberto-about-area section-padding-100-0">
  <!-- Hotel Search Form Area -->
  <div class="hotel-search-form-area">
    <div class="container-fluid">
      <div class="hotel-search-form">
        <form action="#" method="post">
          <div class="row justify-content-between align-items-end">
            <div class="col-6 col-md-2 col-lg-3">
              <label for="checkIn">Check In</label>
              <input type="date" class="form-control" id="checkIn" name="checkin-date">
            </div>
            <div class="col-6 col-md-2 col-lg-3">
              <label for="checkOut">Check Out</label>
              <input type="date" class="form-control" id="checkOut" name="checkout-date">
            </div>
            <div class="col-4 col-md-1">
              <label for="room">Room</label>
              <select name="room" id="room" class="form-control">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
              </select>
            </div>
            <div class="col-4 col-md-1">
              <label for="adults">Adult</label>
              <select name="adults" id="adults" class="form-control">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
              </select>
            </div>
            <div class="col-4 col-md-2 col-lg-1">
              <label for="children">Children</label>
              <select name="children" id="children" class="form-control">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
              </select>
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="form-control btn roberto-btn w-100">Check Availability</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container mt-100">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6">
        <!-- Section Heading -->
        <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
          <h6>About Us</h6>
          <h2>Welcome to <br>Furama resort and beach</h2>
        </div>
        <div class="about-us-content mb-100">
          <h5 class="wow fadeInUp" data-wow-delay="300ms">With over 340 hotels worldwide, NH Hotel Group offers a wide variety of hotels catering for a perfect stay no matter where your destination.</h5>
          <p class="wow fadeInUp" data-wow-delay="400ms">Manager: <span>Michen Taylor</span></p>
          <img src="assets/img/core-img/signature.png" alt="" class="wow fadeInUp" data-wow-delay="500ms">
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="about-us-thumbnail mb-100 wow fadeInUp" data-wow-delay="700ms">
          <div class="row no-gutters">
            <div class="col-6">
              <div class="single-thumb">
                <img src="assets/img/bg-img/13.jpg" alt="">
              </div>
              <div class="single-thumb">
                <img src="assets/img/bg-img/14.jpg" alt="">
              </div>
            </div>
            <div class="col-6">
              <div class="single-thumb">
                <img src="assets/img/bg-img/15.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Us Area End -->

<!-- Service Area Start -->
<div class="roberto-service-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="service-content d-flex align-items-center justify-content-between">
          <!-- Single Service Area -->
          <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="100ms">
            <img src="assets/img/core-img/icon-1.png" alt="">
            <h5>Transportion</h5>
          </div>

          <!-- Single Service Area -->
          <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="300ms">
            <img src="assets/img/core-img/icon-2.png" alt="">
            <h5>Reiseservice</h5>
          </div>

          <!-- Single Service Area -->
          <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="500ms">
            <img src="assets/img/core-img/icon-3.png" alt="">
            <h5>Spa Relaxtion</h5>
          </div>

          <!-- Single Service Area -->
          <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="700ms">
            <img src="assets/img/core-img/icon-4.png" alt="">
            <h5>Restaurant</h5>
          </div>

          <!-- Single Service Area -->
          <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="900ms">
            <img src="assets/img/core-img/icon-1.png" alt="">
            <h5>Bar &amp; Drink</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service Area End -->


<!-- Video Area Start -->
<div class="roberto--video--area bg-img bg-overlay jarallax section-padding-0-100" style="background-image: url(assets/img/bg-img/20.png);">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-12 col-md-6">
        <!-- Section Heading -->
        <div class="section-heading text-center white wow fadeInUp" data-wow-delay="100ms">
          <h6>SERVICE</h6>
          <h2>Many special activities</h2>
        </div>
        <div class="video-content-area mt-100 wow fadeInUp" data-wow-delay="500ms">
          <a href="https://www.youtube.com/watch?v=siEhdhxiqHg" class="video-play-btn"><i class="fa fa-play"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Video Area End -->

<!-- Service Area Start -->
<section class="roberto-service-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Section Heading -->
        <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
          <h6>Ultimate Solutions</h6>
          <h2>outstanding activities</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Service Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="300ms">
          <img src="assets/img/bg-img/21.jpg" alt="">
          <div class="service-title d-flex align-items-center justify-content-center">
            <h5>Restaurant &amp; Bar</h5>
          </div>
        </div>
      </div>
      <!-- Single Service Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="500ms">
          <img src="assets/img/bg-img/22.jpg" alt="">
          <div class="service-title d-flex align-items-center justify-content-center">
            <h5>Spa &amp; Fitness</h5>
          </div>
        </div>
      </div>
      <!-- Single Service Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="700ms">
          <img src="assets/img/bg-img/23.jpg" alt="">
          <div class="service-title d-flex align-items-center justify-content-center">
            <h5>Pool &amp; Party</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service Area End -->


      <!-- Blog Area Start -->
<section class="roberto-blog-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
          <h6>Our Blog</h6>
          <h2>Latest News &amp; Event</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Post Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
          <a href="#" class="post-thumbnail"><img src="assets/img/bg-img/2.jpg" alt=""></a>
          <!-- Post Meta -->
          <div class="post-meta">
            <a href="#" class="post-date">Jan 02, 2019</a>
            <a href="#" class="post-catagory">Event</a>
          </div>
          <!-- Post Title -->
          <a href="#" class="post-title">Learn How To Motivate Yourself</a>
          <p>How many free autoresponders have you tried? And how many emails did you get through using them?</p>
          <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>

      <!-- Single Post Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="500ms">
          <a href="#" class="post-thumbnail"><img src="assets/img/bg-img/3.jpg" alt=""></a>
          <!-- Post Meta -->
          <div class="post-meta">
            <a href="#" class="post-date">Jan 02, 2019</a>
            <a href="#" class="post-catagory">Event</a>
          </div>
          <!-- Post Title -->
          <a href="#" class="post-title">What If Let You Run The Hubble</a>
          <p>My point here is that if you have no clue for the answers above you probably are not operating a followup.</p>
          <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>

      <!-- Single Post Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="700ms">
          <a href="#" class="post-thumbnail"><img src="assets/img/bg-img/4.jpg" alt=""></a>
          <!-- Post Meta -->
          <div class="post-meta">
            <a href="#" class="post-date">Jan 02, 2019</a>
            <a href="#" class="post-catagory">Event</a>
          </div>
          <!-- Post Title -->
          <a href="#" class="post-title">Six Pack Abs The Big Picture</a>
          <p>Some good steps to take to ensure you are getting what you need out of a autoresponder include…</p>
          <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
  </div>
</section>
<section></section>
<!-- Blog Area End -->


<!-- Blog Area Start -->
<section class="roberto-blog-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
          <h6>Facilities</h6>
          <h2>Room, House and Villa</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Post Area -->
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let facility of facilities">
        <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
          <a href="#" class="post-thumbnail"><img style="height: 250px;width: 100%" src="{{facility.image}}" alt=""></a>
          <!-- Post Meta -->
          <div class="post-meta">
            <a href="#" class="post-date">room size: {{facility.floorSquare}}</a>
            <a href="#" class="post-catagory">{{facility.facilityType.facilityType}}</a>
          </div>
          <!-- Post Title -->
          <a href="#" class="post-title">Description</a>
          <div class="mc-description" *ngIf="facility.facilityType.id == 1">
            <p><i class="fa fa-fw fa-home"></i>Facility type: {{facility.facilityType.facilityType}}</p>
            <p><i class="fa fa-fw fa-hotel"></i>Facility type: {{facility.floorSquare}}</p>
          </div>
          <div class="mc-description" *ngIf="facility.facilityType.id == 2">
            <p> <i class="fa fa-fw fa-home"></i>Facility type: {{facility.facilityType.facilityType}}</p>
            <p><i class="fa fa-fw fa-building"></i>Floor: {{facility.numberFloor}}</p>
          </div>
          <div class="mc-description" *ngIf="facility.facilityType.id == 3">
            <p><i class="fa fa-fw fa-home"></i>Facility type: {{facility.facilityType.facilityType}}</p>
            <p><i class="fa fa-fw fa-building"></i> Floor: {{facility.numberFloor}}</p>
            <p><i class="fa fa-fw fa-low-vision"></i>Pool: {{facility.poolSquare}} sqm</p>
          </div>
          <h5 class="mc-description" style="color: #1abc9c"><i class="fa fa-long-arrow-right " aria-hidden="true"></i> Price: {{facility.rentalFee|currency: "$" }}/{{facility.rentType.rentType}}</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section></section>
<!-- Blog Area End -->
